AudioPlayer/AudioPlayer.xcodeproj/project.xcworkspace/xcuserdata/amanzhanzharkynuly.xcuserdatad/UserInterfaceState.xcuserstate
AudioPlayer/AudioPlayer.xcodeproj/xcuserdata/amanzhanzharkynuly.xcuserdatad/xcschemes/xcschememanagement.plist
